.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: aqua;
  padding: 1rem;

  :not(:last-child) {
    margin-bottom: 1rem;
  }

  &__logo {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
}